body {
    background-image: linear-gradient(to bottom right, orange, red);
}

h1 {
    border: 2px solid white;
    text-align: center;
    font-size: 36pt;
}

.relative {
  font-family: Arial;
  font-size: 15pt;
  position: absolute;
  left: 50px;
  width: auto;
  height: auto;
} 

.a {
    position: relative ;
    left: 750px;
    width: auto;
    height: auto;
}

.fixed{
    position: fixed;
    bottom: 36;
    left: 150;
    right: 150;
    font-family: Arial;
    font-size: 12pt;
    text-align: center;
    border: 5px solid lightblue;
    padding:  0em 1em;
}