<html>
	<head>
        <link rel="stylesheet" href="static/f.css">
        </head>
        <h1>{{title}}</h1>
	<body>
		
		<div class="relative">
		<p><b>Serving size: {{serving}}</b><br><b>Preparation Time: {{Prep_time}} Minutes</b></br><b>Ingredients:</b></p>
		{%for i in range(0, len)%}
		<li>{{ingredients[i]}}</li> 
		{%endfor%}
		<p1><br><b>For more Information:{{Url}}<b></b></br></p1>
		</div>
		
		<div class="a">
			<img src="https://spoonacular.com/recipeImages/{{number}}-636x393.jpg"/>
		</div>
		
		<div class="fixed">
        <h2><i>@{{user}} Tweet: {{tweet}}</i><br>{{time}}</br>{{location}}</h2>
        </div>
        
	</body>
</html>